body {
    background-color: darksalmon;
}

.login, .logout {
    width: 250px;
    margin: auto;
    padding: 20px;
    border: 1px solid brown;
    border-radius: 5px;
    background-color: blanchedalmond;
}

form {
    
    
}

input {
    display: block;
    width: 200px;
    height: 30px;
    margin: 5px 0 15px;
    border: 1px solid brown;
    border-radius: 3px;
}

.login-button,
.logout-button {
    width: 180px;
    height: 30px;
    margin: 10px;
    background-color: coral;
    color: #ffffff;
    border: 1px solid brown;
    border-radius: 3px;
}

.logout-button {
    
}

.preloader {
    display: none;
    text-align: center;
}

.login-error {
    text-align: center;
    color: #ff0000;
    font-size: 12px;
}

.logout span {
  display: block;
}

.logout img {
  float: left;
  margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}